<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <title>Authors</title>
</head>
<body>
    <div class="yontainer">
        <div class="yolumn">
            <h1>New Author</h1><br>
            <form action="/authors/insert_author" method="POST">
                <label for="name">Name: </label>
                <input type="text" name="name"><br><br>
                <input type="submit" value="Create"><br><br>
            </form>
        </div>
        <div class="yolumn">
            <h1>All Authors</h1><br>
            <div class="yox">
                <!-- jinja to display each author in href -->
                {% for author in authors %}
                <p>{{ author.name }}</p>
                {% endfor %}
            </div><br>
            <a href="/books">Add Book</a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>
</html>
